viraseo/n8n-workflows/01-serp-analyzer.json
{
  "name": "ViraSEO — SERP Analyzer (Top 10 FA)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "viraseo-serp-analyze", "responseMode": "responseNode"},
      "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"status\":\"accepted\",\"executionId\":\"{{$execution.id}}\"}"},
      "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [400, 300]
    },
    {
      "parameters": {"method": "GET", "url": "=https://www.google.com/search?q={{encodeURIComponent($node.Webhook.json.body.keyword)}}&hl=fa&gl=ir&num=10", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"}, {"name": "Accept-Language", "value": "fa-IR,fa;q=0.9"}]}, "options": {"response": {"response": {"fullResponse": true}}}},
      "name": "Google SERP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300]
    },
    {
      "parameters": {"jsCode": "// Parse Google SERP WITHOUT cheerio — using regex only\nconst html = $input.first().json.body || $input.first().json.data || '';\nconst keyword = $node.Webhook.json.body.keyword;\nconst analysis_id = $node.Webhook.json.body.analysis_id;\nconst callback_url = $node.Webhook.json.body.callback_url;\n\n// Extract organic results using regex\nconst results = [];\nconst linkRegex = /<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>.*?<h3[^>]*>(.*?)<\\/h3>/gs;\nlet match;\nwhile ((match = linkRegex.exec(html)) !== null && results.length < 10) {\n  const url = match[1];\n  const title = match[2].replace(/<[^>]+>/g, '').trim();\n  if (url && !url.includes('google.com') && !url.includes('youtube.com/results')) {\n    try {\n      results.push({\n        position: results.length + 1,\n        url: url,\n        title: title,\n        domain: new URL(url).hostname\n      });\n    } catch(e) {}\n  }\n}\n\n// Fallback: try another pattern if first didn't work\nif (results.length === 0) {\n  const altRegex = /href=\"(https?:\\/\\/(?!www\\.google)[^\"]{20,})\"[^>]*>[^<]*<[^>]*>([^<]{5,})</g;\n  while ((match = altRegex.exec(html)) !== null && results.length < 10) {\n    try {\n      const url = match[1];\n      results.push({\n        position: results.length + 1,\n        url: url,\n        title: match[2].trim(),\n        domain: new URL(url).hostname\n      });\n    } catch(e) {}\n  }\n}\n\n// Extract People Also Ask questions\nconst questions = [];\nconst paaRegex = /data-q=\"([^\"]+)\"/g;\nwhile ((match = paaRegex.exec(html)) !== null) {\n  questions.push(match[1]);\n}\n\nreturn [{json: {results, questions, keyword, analysis_id, callback_url}}];"},
      "name": "Parse SERP", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, 300]
    },
    {
      "parameters": {"batchSize": 1},
      "name": "Loop", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [1000, 300]
    },
    {
      "parameters": {"amount": 2},
      "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1120, 450]
    },
    {
      "parameters": {"method": "GET", "url": "={{$json.url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"}]}, "options": {"timeout": 15000, "response": {"response": {"fullResponse": true}}}},
      "name": "Fetch Page", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 450], "continueOnFail": true
    },
    {
      "parameters": {"jsCode": "// Extract page data WITHOUT cheerio\nconst html = $input.first().json.body || $input.first().json.data || '';\nconst pos = $input.first().json.position || 0;\nconst url = $input.first().json.url || '';\nconst domain = $input.first().json.domain || '';\nconst title = $input.first().json.title || '';\n\n// Remove script/style tags\nconst clean = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n                   .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n                   .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n                   .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '');\n\n// Extract headings\nconst h1s = [...(clean.matchAll(/<h1[^>]*>(.*?)<\\/h1>/gi))].map(m => m[1].replace(/<[^>]+>/g,'').trim());\nconst h2s = [...(clean.matchAll(/<h2[^>]*>(.*?)<\\/h2>/gi))].map(m => m[1].replace(/<[^>]+>/g,'').trim());\nconst h3s = [...(clean.matchAll(/<h3[^>]*>(.*?)<\\/h3>/gi))].map(m => m[1].replace(/<[^>]+>/g,'').trim());\n\n// Get text content and word count\nconst text = clean.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst words = text.split(/[\\s\\u200C]+/).filter(w => w.length > 1);\n\n// Extract Persian keywords\nconst stops = new Set(['و','در','به','از','که','این','را','با','است','آن','یک','برای','تا','ها','های','می','شود','کرد','شده','بود','هم']);\nconst persianWords = text.match(/[\\u0600-\\u06FF\\u200C]{3,}/g) || [];\nconst freq = {};\npersianWords.forEach(w => {\n  const n = w.toLowerCase().replace(/\\u200C{2,}/g, '\\u200C');\n  if (!stops.has(n)) freq[n] = (freq[n] || 0) + 1;\n});\nconst topKw = Object.entries(freq).sort((a,b) => b[1]-a[1]).slice(0, 30).map(e => e[0]);\n\n// Count images\nconst images = (html.match(/<img /gi) || []).length;\n\nreturn [{json: {\n  position: pos, url, domain, title,\n  word_count: words.length,\n  h1_count: h1s.length, h2_count: h2s.length, h3_count: h3s.length,\n  headings: {h1: h1s.slice(0,3), h2: h2s.slice(0,10), h3: h3s.slice(0,10)},\n  images, schema_types: '',\n  top_keywords: topKw\n}}];"},
      "name": "Extract", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1450, 450]
    },
    {
      "parameters": {"jsCode": "const comps = $input.all().map(i => i.json);\nconst meta = $node['Parse SERP'].json;\nconst n = comps.length || 1;\n\nconst avgW = Math.round(comps.reduce((s,c) => s + (c.word_count||0), 0) / n);\nconst avgH = Math.round(comps.reduce((s,c) => s + (c.h1_count||0) + (c.h2_count||0) + (c.h3_count||0), 0) / n);\n\n// LSI keywords (appear in 2+ pages)\nconst kwC = {};\ncomps.forEach(c => (c.top_keywords||[]).forEach(k => { kwC[k] = (kwC[k]||0) + 1; }));\nconst lsi = Object.entries(kwC).filter(e => e[1] >= 2).sort((a,b) => b[1]-a[1]).slice(0, 30).map(e => e[0]);\n\n// Content gap (H2 topics in 2+ pages)\nconst h2T = {};\ncomps.forEach(c => (c.headings?.h2||[]).forEach(h => {\n  const n2 = h.toLowerCase().trim();\n  if (n2.length > 5) h2T[n2] = (h2T[n2]||0) + 1;\n}));\nconst gap = Object.entries(h2T).filter(e => e[1] >= 2).sort((a,b) => b[1]-a[1]).slice(0, 15).map(e => e[0]);\n\nreturn [{json: {\n  analysis_id: meta.analysis_id,\n  callback_url: meta.callback_url,\n  avg_word_count: avgW,\n  avg_headings: avgH,\n  lsi_keywords: lsi,\n  content_gap: gap,\n  questions: meta.questions || [],\n  competitors: comps\n}}];"},
      "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1700, 300]
    },
    {
      "parameters": {"method": "POST", "url": "={{$json.callback_url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{JSON.stringify($json)}}"},
      "name": "Send to WP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1900, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]},
    "Respond": {"main": [[{"node": "Google SERP", "type": "main", "index": 0}]]},
    "Google SERP": {"main": [[{"node": "Parse SERP", "type": "main", "index": 0}]]},
    "Parse SERP": {"main": [[{"node": "Loop", "type": "main", "index": 0}]]},
    "Loop": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}], [{"node": "Wait", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "Fetch Page", "type": "main", "index": 0}]]},
    "Fetch Page": {"main": [[{"node": "Extract", "type": "main", "index": 0}]]},
    "Extract": {"main": [[{"node": "Loop", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Send to WP", "type": "main", "index": 0}]]}
  },
  "settings": {"executionTimeout": 600}
}
