viraseo/n8n-workflows/01-serp-analyzer.json
{
  "name": "ViraSEO — SERP Analyzer (Top 10 FA)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "viraseo-serp-analyze", "responseMode": "responseNode"},
      "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"status\":\"accepted\"}"},
      "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [400, 300]
    },
    {
      "parameters": {"method": "GET", "url": "=https://www.google.com/search?q={{encodeURIComponent($node.Webhook.json.body.keyword)}}&hl=fa&gl=ir&num=20", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"}, {"name": "Accept-Language", "value": "fa-IR,fa;q=0.9"}, {"name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]}, "options": {}},
      "name": "Google SERP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300]
    },
    {
      "parameters": {"jsCode": "// Get HTML from response\nconst raw = $input.first().json;\nlet html = '';\nif (typeof raw.data === 'string') html = raw.data;\nelse if (typeof raw.body === 'string') html = raw.body;\nelse if (typeof raw === 'string') html = raw;\nelse html = JSON.stringify(raw);\n\nconst keyword = $node.Webhook.json.body.keyword || '';\nconst analysis_id = $node.Webhook.json.body.analysis_id || '';\nconst callback_url = $node.Webhook.json.body.callback_url || '';\n\nconst results = [];\nconst seen = new Set();\n\nfunction addUrl(url, title) {\n  if (!url || !url.startsWith('http')) return;\n  if (url.includes('google.') || url.includes('gstatic.') || url.includes('googleusercontent') || url.includes('youtube.com/redirect') || url.includes('/aclk') || url.includes('webcache')) return;\n  let domain;\n  try { domain = new URL(url).hostname.replace(/^www\\./, ''); } catch(e) { return; }\n  if (seen.has(domain)) return;\n  seen.add(domain);\n  results.push({position: results.length + 1, url, title: (title||'').replace(/<[^>]+>/g,'').trim() || domain, domain});\n}\n\n// Strategy 1: Google wraps real result URLs in /url?q=ACTUAL_URL&\nlet m;\nconst urlQ = /\\/url\\?q=(https?:\\/\\/[^&\"]+)/g;\nwhile ((m = urlQ.exec(html)) !== null && results.length < 15) {\n  addUrl(decodeURIComponent(m[1]), '');\n}\n\n// Strategy 2: direct href to external sites\nif (results.length < 5) {\n  const href = /href=\"(https?:\\/\\/[^\"]+)\"/g;\n  while ((m = href.exec(html)) !== null && results.length < 15) {\n    addUrl(m[1], '');\n  }\n}\n\n// Strategy 3: h3 titles (match with results by order)\nconst titles = [];\nconst h3 = /<h3[^>]*>([\\s\\S]*?)<\\/h3>/gi;\nwhile ((m = h3.exec(html)) !== null) {\n  const t = m[1].replace(/<[^>]+>/g, '').trim();\n  if (t) titles.push(t);\n}\n// Assign titles to results by order\nresults.forEach((r, i) => { if (titles[i] && r.title === r.domain) r.title = titles[i]; });\n\n// PAA questions\nconst questions = [];\nconst paa = /data-q=\"([^\"]+)\"/g;\nwhile ((m = paa.exec(html)) !== null && questions.length < 10) questions.push(m[1]);\n\n// Always include debug so we can see what happened\nconst debug = 'html_len:' + html.length + ' | results:' + results.length + ' | titles:' + titles.length + ' | blocked:' + (html.includes('detected unusual traffic') || html.includes('not a robot') ? 'YES' : 'no') + ' | first300:' + html.substring(0, 300).replace(/\\s+/g, ' ');\n\nreturn [{json: {analysis_id, callback_url, keyword, results, questions, debug}}];"},
      "name": "Parse SERP", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, 300]
    },
    {
      "parameters": {"jsCode": "const p = $input.first().json;\nconst results = p.results || [];\nconst competitors = results.map(r => ({position: r.position, url: r.url, domain: r.domain, title: r.title, word_count: 0, h1_count: 0, h2_count: 0, h3_count: 0, images: 0, schema_types: '', top_keywords: [], headings: {h1:[],h2:[],h3:[]}}));\nreturn [{json: {\n  analysis_id: $node.Webhook.json.body.analysis_id || '',\n  callback_url: $node.Webhook.json.body.callback_url || '',\n  avg_word_count: 0, avg_headings: 0,\n  lsi_keywords: [], content_gap: [],\n  questions: p.questions || [],\n  competitors: competitors,\n  debug: p.debug || ''\n}}];"},
      "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1050, 300]
    },
    {
      "parameters": {"method": "POST", "url": "={{$node.Webhook.json.body.callback_url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{JSON.stringify($json)}}"},
      "name": "Send to WP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]},
    "Respond": {"main": [[{"node": "Google SERP", "type": "main", "index": 0}]]},
    "Google SERP": {"main": [[{"node": "Parse SERP", "type": "main", "index": 0}]]},
    "Parse SERP": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Send to WP", "type": "main", "index": 0}]]}
  },
  "settings": {"executionTimeout": 120}
}
