viraseo/n8n-workflows/01-serp-analyzer.json
{
  "name": "ViraSEO — SERP Analyzer (Serper.dev API)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "viraseo-serp-analyze", "responseMode": "responseNode"},
      "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"status\":\"accepted\"}"},
      "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "X-API-KEY", "value": "={{ $node.Webhook.json.body.serper_api_key }}"},
          {"name": "Content-Type", "value": "application/json"}
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({q: $node.Webhook.json.body.keyword, gl: 'ir', hl: 'fa', location: 'Iran', num: 10}) }}",
        "options": {"response": {"response": {"neverError": true}}}
      },
      "name": "Serper Search", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {"jsCode": "// Serper.dev returns clean JSON — no scraping needed!\nconst raw = $input.first().json;\n// Serper response may be in .data (string) or direct object\nlet d = raw;\nif (typeof raw.data === 'string') { try { d = JSON.parse(raw.data); } catch(e) {} }\nelse if (raw.data && typeof raw.data === 'object') d = raw.data;\n\n// Detect Serper errors (missing/invalid API key, quota, etc.)\nlet errMsg = '';\nif (d && d.message && !d.organic) errMsg = 'Serper error: ' + d.message;\nif (d && d.statusCode && d.statusCode >= 400) errMsg = 'Serper HTTP ' + d.statusCode + ': ' + (d.message || 'check API key');\n\nconst organic = d.organic || [];\nconst peopleAlsoAsk = d.peopleAlsoAsk || [];\nconst relatedSearches = d.relatedSearches || [];\n\nconst competitors = organic.slice(0, 10).map((r, i) => ({\n  position: r.position || (i + 1),\n  url: r.link || '',\n  domain: (function(){ try { return new URL(r.link).hostname.replace(/^www\\./,''); } catch(e){ return ''; } })(),\n  title: r.title || '',\n  snippet: r.snippet || '',\n  word_count: (r.snippet || '').split(/\\s+/).length,\n  h1_count: 0, h2_count: 0, h3_count: 0, images: 0, schema_types: '',\n  top_keywords: [], headings: {h1:[],h2:[],h3:[]}\n}));\n\n// Questions from People Also Ask\nconst questions = peopleAlsoAsk.map(p => p.question || p).filter(Boolean).slice(0, 10);\n\n// LSI from related searches\nconst lsi = relatedSearches.map(r => r.query || r).filter(Boolean).slice(0, 20);\n\n// Content gap: extract common words from titles\nconst titleWords = {};\ncompetitors.forEach(c => {\n  (c.title.match(/[\\u0600-\\u06FF\\u200C]{3,}/g) || []).forEach(w => {\n    titleWords[w] = (titleWords[w] || 0) + 1;\n  });\n});\nconst gap = Object.entries(titleWords).filter(e => e[1] >= 2).sort((a,b)=>b[1]-a[1]).slice(0,15).map(e=>e[0]);\n\nconst avgW = competitors.length ? Math.round(competitors.reduce((s,c)=>s+c.word_count,0)/competitors.length) : 0;\nconst dbg = errMsg ? errMsg : ('organic:' + organic.length + ' paa:' + peopleAlsoAsk.length + ' related:' + relatedSearches.length);\n\nreturn [{json: {\n  analysis_id: $node.Webhook.json.body.analysis_id || '',\n  callback_url: $node.Webhook.json.body.callback_url || '',\n  avg_word_count: avgW,\n  avg_headings: 0,\n  lsi_keywords: lsi,\n  content_gap: gap,\n  questions: questions,\n  competitors: competitors,\n  error: errMsg,\n  debug: dbg\n}}];"},
      "name": "Process", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [850, 300]
    },
    {
      "parameters": {"method": "POST", "url": "={{$node.Webhook.json.body.callback_url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{JSON.stringify($json)}}"},
      "name": "Send to WP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]},
    "Respond": {"main": [[{"node": "Serper Search", "type": "main", "index": 0}]]},
    "Serper Search": {"main": [[{"node": "Process", "type": "main", "index": 0}]]},
    "Process": {"main": [[{"node": "Send to WP", "type": "main", "index": 0}]]}
  },
  "settings": {"executionTimeout": 60}
}
