viraseo/n8n-workflows/02-keyword-discovery.json
{
  "name": "ViraSEO — Keyword Discovery (Google Suggest FA)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "viraseo-keyword-discover", "responseMode": "responseNode"},
      "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [200, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"status\":\"accepted\"}"},
      "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [400, 300]
    },
    {
      "parameters": {"url": "=http://suggestqueries.google.com/complete/search?output=firefox&hl=fa&gl=ir&q={{encodeURIComponent($node.Webhook.json.body.seed_keyword)}}", "options": {}},
      "name": "Suggest Base", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300]
    },
    {
      "parameters": {"jsCode": "const seed = $node.Webhook.json.body.seed_keyword;\nconst discId = $node.Webhook.json.body.discovery_id;\nconst cbUrl = $node.Webhook.json.body.callback_url;\n\n// Parse response — n8n returns it as {data: \"[...json string...]\"}\nlet baseSuggestions = [];\ntry {\n  const raw = $input.first().json;\n  let parsed;\n  \n  if (typeof raw.data === 'string') {\n    // Response is a JSON string inside .data\n    parsed = JSON.parse(raw.data);\n  } else if (Array.isArray(raw.data)) {\n    parsed = raw.data;\n  } else if (Array.isArray(raw)) {\n    parsed = raw;\n  } else if (raw['1']) {\n    baseSuggestions = Array.isArray(raw['1']) ? raw['1'] : [];\n  }\n  \n  if (parsed && Array.isArray(parsed) && parsed.length >= 2) {\n    baseSuggestions = parsed[1] || [];\n  }\n} catch(e) {\n  return [{json: {discovery_id: discId, callback_url: cbUrl, ideas: [], debug: e.message}}];\n}\n\n// Normalize and score\nfunction norm(t) {\n  return t.replace(/\\u0643/g,'\\u06A9').replace(/\\u064A/g,'\\u06CC')\n          .replace(/[\\u064B-\\u065F]/g,'').replace(/\\u200C{2,}/g,'\\u200C').replace(/\\s+/g,' ').trim();\n}\nconst stops = new Set(['و','در','به','از','که','این','را','با','است','آن','یک','برای','تا','ها','های','می','شود']);\nfunction score(kw) {\n  const sw = seed.split(/[\\s\\u200C]+/).filter(w => !stops.has(w));\n  const kws = kw.split(/[\\s\\u200C]+/).filter(w => !stops.has(w));\n  let m = 0;\n  sw.forEach(s => { if (kws.some(k => k.includes(s) || s.includes(k))) m++; });\n  return Math.min(100, Math.round((sw.length ? m/sw.length : 0.5) * 100) + Math.min(20, kws.length * 5));\n}\nfunction isQ(t) { return t.includes('\\u061F') || ['چیست','چگونه','چرا','کجا','آیا','کدام'].some(q => t.includes(q)); }\n\nconst all = new Map();\nbaseSuggestions.forEach(kw => {\n  if (typeof kw !== 'string') return;\n  const n = norm(kw);\n  if (n.length < 3) return;\n  const key = n.toLowerCase().replace(/\\u200C/g, ' ');\n  if (key === seed.toLowerCase().replace(/\\u200C/g, ' ')) return;\n  all.set(key, {keyword: n, source: 'suggest', relevance: score(n), is_question: isQ(n)});\n});\n\nconst ideas = Array.from(all.values()).sort((a,b) => b.relevance - a.relevance).slice(0, 200);\nreturn [{json: {discovery_id: discId, callback_url: cbUrl, ideas}}];"},
      "name": "Process All", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [850, 300]
    },
    {
      "parameters": {"method": "POST", "url": "={{$json.callback_url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{JSON.stringify({discovery_id: $json.discovery_id, ideas: $json.ideas})}}"},
      "name": "Send to WP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]},
    "Respond": {"main": [[{"node": "Suggest Base", "type": "main", "index": 0}]]},
    "Suggest Base": {"main": [[{"node": "Process All", "type": "main", "index": 0}]]},
    "Process All": {"main": [[{"node": "Send to WP", "type": "main", "index": 0}]]}
  },
  "settings": {"executionTimeout": 60}
}
