viraseo/n8n-workflows/03-page-inspector.json
{"name": "ViraSEO — Advanced Page Inspector (Headless Chrome + Full SEO Audit)", "nodes": [{"parameters": {"httpMethod": "POST", "path": "viraseo-page-inspect", "responseMode": "responseNode"}, "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300]}, {"parameters": {"jsCode": "const url = $input.first().json.body.url;\nconst keyword = ($input.first().json.body.keyword || '').trim();\nconst browserlessToken = $input.first().json.body.browserless_token || '';\nreturn [{ json: { url, keyword, browserlessToken, useBrowserless: browserlessToken.length > 0 } }];"}, "name": "Prepare", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{$json.useBrowserless}}", "value2": true}]}}, "name": "Has Browserless?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [670, 300]}, {"parameters": {"method": "POST", "url": "=https://chrome.browserless.io/content?token={{$json.browserlessToken}}", "sendBody": true, "specifyBody": "json", "jsonBody": "={\"url\":\"{{$json.url}}\",\"gotoOptions\":{\"waitUntil\":\"networkidle2\",\"timeout\":25000},\"waitForSelector\":{\"selector\":\"body\",\"timeout\":5000}}", "options": {"timeout": 35000}}, "name": "Browserless Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [900, 200]}, {"parameters": {"method": "GET", "url": "={{$json.url}}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"}, {"name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}, {"name": "Accept-Language", "value": "fa,en;q=0.8"}]}, "options": {"timeout": 25000, "redirect": {"redirect": {"followRedirects": true, "maxRedirects": 5}}, "allowUnauthorizedCerts": true}}, "name": "HTTP Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [900, 420]}, {"parameters": {"jsCode": "// Get HTML from whichever fetch method ran\nconst raw = $input.first().json;\nlet html = '';\nif (typeof raw === 'string') html = raw;\nelse if (raw.data) html = raw.data;\nelse if (raw.body) html = raw.body;\nelse html = JSON.stringify(raw);\n\nconst url = $('Prepare').first().json.url;\nconst keyword = ($('Prepare').first().json.keyword || '').toLowerCase().trim();\n\nfunction strip(s){return(s||'').replace(/<[^>]+>/g,' ').replace(/&[a-z]+;/g,' ').replace(/\\s+/g,' ').trim();}\n\n// === METADATA ===\nlet title='';const tm=html.match(/<title[^>]*>(.*?)<\\/title>/si);if(tm)title=strip(tm[1]);\nlet metaDesc='';let m=html.match(/<meta[^>]+name\\s*=\\s*[\"']description[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i);if(m)metaDesc=m[1];if(!metaDesc){m=html.match(/<meta[^>]+content\\s*=\\s*[\"']([^\"']*)[\"'][^>]*name\\s*=\\s*[\"']description[\"']/i);if(m)metaDesc=m[1];}\nlet ogTitle='';m=html.match(/<meta[^>]+property\\s*=\\s*[\"']og:title[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i);if(m)ogTitle=m[1];\nlet ogDesc='';m=html.match(/<meta[^>]+property\\s*=\\s*[\"']og:description[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i);if(m)ogDesc=m[1];\nlet canonical='';m=html.match(/<link[^>]+rel\\s*=\\s*[\"']canonical[\"'][^>]*href\\s*=\\s*[\"']([^\"']+)[\"']/i);if(m)canonical=m[1];\nlet robots='index, follow';m=html.match(/<meta[^>]+name\\s*=\\s*[\"']robots[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i);if(m)robots=m[1];\nconst schemaTypes=[...new Set((html.match(/\"@type\"\\s*:\\s*\"([^\"]+)\"/gi)||[]).map(s=>{const x=s.match(/\"([^\"]+)\"$/);return x?x[1]:'';}).filter(Boolean))];\n\n// === CONTENT ===\nlet content=html.replace(/<(script|style|svg|template|iframe|noscript)[^>]*>[\\s\\S]*?<\\/\\1>/gi,' ');\nlet body2=content;const bm2=content.match(/<body[^>]*>([\\s\\S]*)<\\/body>/i);if(bm2)body2=bm2[1];\nbody2=body2.replace(/<(nav|footer|header|aside|form)[^>]*>[\\s\\S]*?<\\/\\1>/gi,' ');\nlet mc='';const sels=[/<main[^>]*>([\\s\\S]*?)<\\/main>/i,/<article[^>]*>([\\s\\S]*?)<\\/article>/i,/<div[^>]*class\\s*=\\s*[\"'][^\"']*entry-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i];\nfor(const s of sels){const sm=body2.match(s);if(sm&&strip(sm[1]).split(/\\s+/).length>=30){mc=sm[1];break;}}\nif(!mc){const hm2=body2.match(/<h[12]\\b[^>]*>([\\s\\S]*)/i);if(hm2)mc=hm2[1];}\nif(!mc)mc=body2;\nconst text=strip(mc);const words=text.split(/\\s+/).filter(w=>w.length>0);const wordCount=words.length;\n\n// === HEADINGS ===\nconst h1s=(html.match(/<h1[^>]*>(.*?)<\\/h1>/gi)||[]).map(h=>strip(h)).filter(Boolean);\nconst h2s=(html.match(/<h2[^>]*>(.*?)<\\/h2>/gi)||[]).map(h=>strip(h)).filter(Boolean);\nconst h3s=(html.match(/<h3[^>]*>(.*?)<\\/h3>/gi)||[]).map(h=>strip(h)).filter(Boolean);\n\n// === IMAGES/LINKS/MISC ===\nconst imgs=html.match(/<img\\b[^>]*>/gi)||[];let noAlt=0;imgs.forEach(t=>{if(!/alt\\s*=\\s*[\"'][^\"']+[\"']/i.test(t))noAlt++;});\nconst host=(()=>{try{return new URL(url).hostname;}catch(e){return'';}})();\nconst anchors=html.match(/<a\\s[^>]*href\\s*=\\s*[\"']([^\"'#]+)[\"'][^>]*>/gi)||[];\nlet intL=0,extL=0;anchors.forEach(a=>{const hm3=a.match(/href\\s*=\\s*[\"']([^\"'#]+)[\"']/i);if(!hm3)return;const h2=hm3[1];if(h2.startsWith('/')||h2.includes(host))intL++;else if(h2.startsWith('http'))extL++;});\nconst paragraphs=(html.match(/<p\\b[^>]*>/gi)||[]).length;\nconst tables=(html.match(/<table\\b/gi)||[]).length;\nconst videos=(html.match(/<(video|iframe)[^>]*(youtube|vimeo|aparat|mp4|embed)/gi)||[]).length;\nconst hasFaq=/\\u0633\\u0648\\u0627\\u0644\\u0627\\u062a \\u0645\\u062a\\u062f\\u0627\\u0648\\u0644|FAQ|faq-section|FAQPage/i.test(html);\nconst hasToc=/table.of.content|\\u0641\\u0647\\u0631\\u0633\\u062a \\u0645\\u0637\\u0627\\u0644\\u0628|\\u0641\\u0647\\u0631\\u0633\\u062a \\u0645\\u062d\\u062a\\u0648\\u0627|ez-toc|lwptoc/i.test(html);\nconst hasBreadcrumb=/breadcrumb|BreadcrumbList/i.test(html);\n\n// === TOKENIZE & N-GRAMS ===\nconst stops=['\\u0648','\\u062f\\u0631','\\u0628\\u0647','\\u0627\\u0632','\\u06a9\\u0647','\\u0627\\u06cc\\u0646','\\u0631\\u0627','\\u0628\\u0627','\\u0627\\u0633\\u062a','\\u0628\\u0631\\u0627\\u06cc','\\u0622\\u0646','\\u06cc\\u06a9','\\u062a\\u0627','\\u0647\\u0645','\\u0647\\u0627','\\u06cc\\u0627','\\u0634\\u062f\\u0647','\\u0645\\u06cc','\\u0628\\u0631','\\u0627\\u0645\\u0627','\\u0647\\u0631','\\u0646\\u06cc\\u0632','\\u0627\\u06af\\u0631','\\u0634\\u0645\\u0627','\\u0645\\u0627','\\u0645\\u0646','\\u062e\\u0648\\u062f','\\u067e\\u0633','\\u0628\\u0648\\u062f','\\u0628\\u0627\\u06cc\\u062f','\\u062f\\u0627\\u0631\\u062f','\\u0647\\u0645\\u0647','\\u0628\\u06cc\\u0646','\\u0647\\u06cc\\u0686','\\u0622\\u0646\\u0647\\u0627','\\u06a9\\u0646\\u06cc\\u062f','\\u0634\\u0648\\u062f','\\u062f\\u0627\\u0631\\u0646\\u062f','\\u06a9\\u0631\\u062f','\\u06a9\\u0646\\u0646\\u062f','the','is','a','of','to','in','and','for','that','it','on'];\nfunction tokenize(t){return t.toLowerCase().split(/[\\s\\u200C\\u200B,.;:!?()\\[\\]\\/\\\\]+/).filter(w=>w.length>2&&!stops.includes(w)&&!/^\\d+$/.test(w));}\nconst wL=tokenize(text);\nconst totalW=wL.length;\n\nconst freq={};wL.forEach(w=>freq[w]=(freq[w]||0)+1);\nconst unigrams=Object.entries(freq).sort((a,b)=>b[1]-a[1]).slice(0,15).map(([word,count])=>({word,count,density:Math.round((count/Math.max(1,totalW))*10000)/100}));\nconst bgF={};for(let i=0;i<totalW-1;i++){const k=wL[i]+' '+wL[i+1];bgF[k]=(bgF[k]||0)+1;}\nconst bigrams=Object.entries(bgF).filter(e=>e[1]>=2).sort((a,b)=>b[1]-a[1]).slice(0,10).map(([word,count])=>({word,count,density:Math.round((count/Math.max(1,totalW-1))*10000)/100}));\nconst tgF={};for(let i=0;i<totalW-2;i++){const k=wL[i]+' '+wL[i+1]+' '+wL[i+2];tgF[k]=(tgF[k]||0)+1;}\nconst trigrams=Object.entries(tgF).filter(e=>e[1]>=2).sort((a,b)=>b[1]-a[1]).slice(0,10).map(([word,count])=>({word,count,density:Math.round((count/Math.max(1,totalW-2))*10000)/100}));\nconst fgF={};for(let i=0;i<totalW-3;i++){const k=wL[i]+' '+wL[i+1]+' '+wL[i+2]+' '+wL[i+3];fgF[k]=(fgF[k]||0)+1;}\nconst fourgrams=Object.entries(fgF).filter(e=>e[1]>=2).sort((a,b)=>b[1]-a[1]).slice(0,10).map(([word,count])=>({word,count,density:Math.round((count/Math.max(1,totalW-3))*10000)/100}));\nconst ngrams={unigrams,bigrams,trigrams,fourgrams};\nconst topKw=unigrams.slice(0,7).map(({word,count})=>({word,count})).concat(bigrams.slice(0,3).map(({word,count})=>({word,count})));\n\n// === PARAGRAPH KEYWORDS ===\nconst pTags=(html.match(/<p\\b[^>]*>(.*?)<\\/p>/gsi)||[]).map(p=>strip(p)).filter(p=>p.length>20);\nconst paraKeywords={first_paragraph:[],second_paragraph:[]};\nif(pTags[0]){const pw=tokenize(pTags[0]);const pf={};pw.forEach(w=>pf[w]=(pf[w]||0)+1);paraKeywords.first_paragraph=Object.entries(pf).sort((a,b)=>b[1]-a[1]).slice(0,10).map(([word,count])=>({word,count}));}\nif(pTags[1]){const pw=tokenize(pTags[1]);const pf={};pw.forEach(w=>pf[w]=(pf[w]||0)+1);paraKeywords.second_paragraph=Object.entries(pf).sort((a,b)=>b[1]-a[1]).slice(0,10).map(([word,count])=>({word,count}));}\n\n// === CONTENT DENSITY ===\nconst htmlSize=html.length;const textSize=text.length;\nconst textToHtmlRatio=htmlSize>0?Math.round((textSize/htmlSize)*1000)/10:0;\nconst bodyMatch2=html.match(/<body[^>]*>([\\s\\S]*)<\\/body>/i);\nconst bodyHtml2=bodyMatch2?bodyMatch2[1]:html;\nconst bodyNoScripts2=bodyHtml2.replace(/<(script|style|svg|template|iframe)[^>]*>[\\s\\S]*?<\\/\\1>/gi,'');\nconst bodyText2=strip(bodyNoScripts2);const bodyWordCount2=bodyText2.split(/\\s+/).filter(w=>w.length>0).length;\nconst usefulRatio=bodyWordCount2>0?Math.min(100,Math.round((wordCount/bodyWordCount2)*1000)/10):0;\nlet totalParaWords=0;let paraCount2=0;\n(html.match(/<p\\b[^>]*>(.*?)<\\/p>/gsi)||[]).forEach(p=>{const t=strip(p);if(t.length>10){totalParaWords+=t.split(/\\s+/).length;paraCount2++;}});\nconst avgParaLength=paraCount2>0?Math.round(totalParaWords/paraCount2):0;\nconst contentDensity={text_to_html_ratio:textToHtmlRatio,useful_content_ratio:usefulRatio,avg_paragraph_length:avgParaLength,html_size_kb:Math.round(htmlSize/1024*10)/10,text_size_kb:Math.round(textSize/1024*10)/10};\n\n// === KEYWORD ANALYSIS ===\nlet kwA={};if(keyword){const kl=keyword;const tl=title.toLowerCase();const inT=tl.includes(kl)?1:0;const inH1=h1s.some(h=>h.toLowerCase().includes(kl))?1:0;const inH2=h2s.some(h=>h.toLowerCase().includes(kl))?1:0;const inM=metaDesc.toLowerCase().includes(kl)?1:0;const inU=url.toLowerCase().includes(kl)?1:0;const kc=(text.toLowerCase().split(kl).length-1);const dens=wordCount>0?Math.round((kc/wordCount)*10000)/100:0;const prom=Math.min(100,(inT?25:0)+(inH1?20:0)+(inH2?10:0)+(inM?15:0)+(inU?15:0)+Math.min(15,Math.round(dens*5)));kwA={in_title:inT,in_h1:inH1,in_h2:inH2,in_meta:inM,in_url:inU,density:dens,prominence:prom,count:kc};}\nconst kwDensity=kwA.density||0;\n\n// === 30 SEO FACTORS ===\nconst factors=[];\nlet tScore=0,tTip='';const tLen=title.length;\nif(tLen>=30&&tLen<=60)tScore=100;else if(tLen>0&&tLen<30){tScore=50;tTip='\\u0639\\u0646\\u0648\\u0627\\u0646 \\u06a9\\u0648\\u062a\\u0627\\u0647 \\u0627\\u0633\\u062a.';}else if(tLen>60){tScore=60;tTip='\\u0639\\u0646\\u0648\\u0627\\u0646 \\u0628\\u0644\\u0646\\u062f \\u0627\\u0633\\u062a.';}else{tScore=0;tTip='\\u0639\\u0646\\u0648\\u0627\\u0646 \\u0648\\u062c\\u0648\\u062f \\u0646\\u062f\\u0627\\u0631\\u062f!';}\nif(keyword&&tScore>0){if(!title.toLowerCase().includes(keyword)){tScore-=20;tTip='\\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc \\u062f\\u0631 \\u0639\\u0646\\u0648\\u0627\\u0646 \\u0646\\u06cc\\u0633\\u062a.';}else if(title.toLowerCase().indexOf(keyword)<=5)tScore=Math.min(100,tScore+10);}\nfactors.push({name:'title_optimization',label:'\\u0628\\u0647\\u06cc\\u0646\\u0647\\u200c\\u0633\\u0627\\u0632\\u06cc \\u0639\\u0646\\u0648\\u0627\\u0646 (Title)',score:Math.max(0,tScore),tip:tTip});\nlet mScore=0,mTip='';const mLen=metaDesc.length;\nif(mLen>=120&&mLen<=160)mScore=100;else if(mLen>=80&&mLen<120){mScore=70;mTip='\\u0645\\u062a\\u0627 \\u06a9\\u0648\\u062a\\u0627\\u0647.';}else if(mLen>160){mScore=60;mTip='\\u0645\\u062a\\u0627 \\u0628\\u0644\\u0646\\u062f.';}else if(mLen>0){mScore=40;mTip='\\u0645\\u062a\\u0627 \\u062e\\u06cc\\u0644\\u06cc \\u06a9\\u0648\\u062a\\u0627\\u0647.';}else{mScore=0;mTip='\\u0645\\u062a\\u0627 \\u062f\\u0633\\u06a9\\u0631\\u06cc\\u067e\\u0634\\u0646 \\u0648\\u062c\\u0648\\u062f \\u0646\\u062f\\u0627\\u0631\\u062f!';}\nif(keyword&&mScore>0&&!metaDesc.toLowerCase().includes(keyword)){mScore-=15;mTip+=' \\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc \\u062f\\u0631 \\u0645\\u062a\\u0627 \\u0646\\u06cc\\u0633\\u062a.';}\nfactors.push({name:'meta_description',label:'\\u0645\\u062a\\u0627 \\u062f\\u0633\\u06a9\\u0631\\u06cc\\u067e\\u0634\\u0646',score:Math.max(0,mScore),tip:mTip});\nlet h1Score=0,h1Tip='';\nif(h1s.length===1)h1Score=100;else if(h1s.length>1){h1Score=50;h1Tip='\\u0628\\u06cc\\u0634 \\u0627\\u0632 \\u06cc\\u06a9 H1.';}else{h1Score=0;h1Tip='H1 \\u0648\\u062c\\u0648\\u062f \\u0646\\u062f\\u0627\\u0631\\u062f!';}\nif(keyword&&h1Score>0&&!h1s.some(h=>h.toLowerCase().includes(keyword))){h1Score-=20;h1Tip='\\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc \\u062f\\u0631 H1 \\u0646\\u06cc\\u0633\\u062a.';}\nfactors.push({name:'h1_tag',label:'\\u062a\\u06af H1',score:Math.max(0,h1Score),tip:h1Tip});\nlet uScore=80,uTip='';try{const p=new URL(url).pathname;if(p.length>80){uScore-=30;uTip='URL \\u0628\\u0644\\u0646\\u062f.';}if(keyword&&url.toLowerCase().includes(keyword))uScore=Math.min(100,uScore+20);else if(keyword){uScore-=10;uTip+=' \\u06a9\\u0644\\u0645\\u0647 \\u062f\\u0631 URL \\u0646\\u06cc\\u0633\\u062a.';}if(/[A-Z]/.test(p)){uScore-=10;}}catch(e){}\nfactors.push({name:'url_structure',label:'\\u0633\\u0627\\u062e\\u062a\\u0627\\u0631 URL',score:Math.max(0,uScore),tip:uTip});\nlet f100Score=50,f100Tip='';\nif(keyword){const first100=words.slice(0,100).join(' ').toLowerCase();if(first100.includes(keyword))f100Score=100;else{f100Score=0;f100Tip='\\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc \\u062f\\u0631 \\u06f1\\u06f0\\u06f0 \\u06a9\\u0644\\u0645\\u0647 \\u0627\\u0648\\u0644 \\u0646\\u06cc\\u0633\\u062a.';}}\nfactors.push({name:'keyword_first_100',label:'\\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc \\u062f\\u0631 \\u06f1\\u06f0\\u06f0 \\u06a9\\u0644\\u0645\\u0647 \\u0627\\u0648\\u0644',score:f100Score,tip:f100Tip});\nlet dScore=50,dTip='';\nif(keyword){if(kwDensity>=0.5&&kwDensity<=2.5)dScore=100;else if(kwDensity>2.5&&kwDensity<=3.5){dScore=60;dTip='\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u0628\\u0627\\u0644\\u0627.';}else if(kwDensity>3.5){dScore=20;dTip='\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u0628\\u0633\\u06cc\\u0627\\u0631 \\u0628\\u0627\\u0644\\u0627!';}else if(kwDensity>0){dScore=50;dTip='\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u06a9\\u0645.';}else{dScore=0;dTip='\\u06a9\\u0644\\u0645\\u0647 \\u0627\\u0633\\u062a\\u0641\\u0627\\u062f\\u0647 \\u0646\\u0634\\u062f\\u0647!';}}\nfactors.push({name:'keyword_density',label:'\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u06a9\\u0644\\u0645\\u0647 \\u06a9\\u0644\\u06cc\\u062f\\u06cc (0.5-2.5%)',score:dScore,tip:dTip});\nlet clScore=10,clTip='';\nif(wordCount>=2000)clScore=100;else if(wordCount>=1200)clScore=85;else if(wordCount>=800)clScore=70;else if(wordCount>=500){clScore=50;clTip='\\u0645\\u062d\\u062a\\u0648\\u0627 \\u06a9\\u0648\\u062a\\u0627\\u0647.';}else if(wordCount>=300){clScore=30;clTip='\\u0645\\u062d\\u062a\\u0648\\u0627 \\u06a9\\u0648\\u062a\\u0627\\u0647.';}else{clTip='\\u0645\\u062d\\u062a\\u0648\\u0627 \\u0628\\u0633\\u06cc\\u0627\\u0631 \\u06a9\\u0648\\u062a\\u0627\\u0647.';}\nfactors.push({name:'content_length',label:'\\u0637\\u0648\\u0644 \\u0645\\u062d\\u062a\\u0648\\u0627',score:clScore,tip:clTip});\nlet iScore=0,iTip='';\nif(imgs.length>=3&&noAlt===0)iScore=100;else if(imgs.length>=3){iScore=70;iTip=noAlt+' \\u062a\\u0635\\u0648\\u06cc\\u0631 \\u0628\\u062f\\u0648\\u0646 alt.';}else if(imgs.length>=1){iScore=50;iTip='\\u062a\\u0635\\u0627\\u0648\\u06cc\\u0631 \\u06a9\\u0645.';}else{iScore=0;iTip='\\u062a\\u0635\\u0648\\u06cc\\u0631\\u06cc \\u0646\\u062f\\u0627\\u0631\\u062f!';}\nfactors.push({name:'image_optimization',label:'\\u0628\\u0647\\u06cc\\u0646\\u0647\\u200c\\u0633\\u0627\\u0632\\u06cc \\u062a\\u0635\\u0627\\u0648\\u06cc\\u0631',score:iScore,tip:iTip});\nlet ilScore=0,ilTip='';\nif(intL>=5)ilScore=100;else if(intL>=3)ilScore=70;else if(intL>=1){ilScore=40;ilTip='\\u0644\\u06cc\\u0646\\u06a9 \\u062f\\u0627\\u062e\\u0644\\u06cc \\u06a9\\u0645.';}else{ilScore=0;ilTip='\\u0644\\u06cc\\u0646\\u06a9 \\u062f\\u0627\\u062e\\u0644\\u06cc \\u0646\\u062f\\u0627\\u0631\\u062f!';}\nfactors.push({name:'internal_links',label:'\\u0644\\u06cc\\u0646\\u06a9\\u200c\\u0633\\u0627\\u0632\\u06cc \\u062f\\u0627\\u062e\\u0644\\u06cc',score:ilScore,tip:ilTip});\nlet elScore=30,elTip='\\u0644\\u06cc\\u0646\\u06a9 \\u062e\\u0627\\u0631\\u062c\\u06cc \\u0646\\u062f\\u0627\\u0631\\u062f.';\nif(extL>=1&&extL<=5){elScore=100;elTip='';}else if(extL>5){elScore=70;elTip='\\u0644\\u06cc\\u0646\\u06a9 \\u062e\\u0627\\u0631\\u062c\\u06cc \\u0632\\u06cc\\u0627\\u062f.';}\nfactors.push({name:'external_links',label:'\\u0644\\u06cc\\u0646\\u06a9 \\u062e\\u0627\\u0631\\u062c\\u06cc (\\u0627\\u0633\\u062a\\u0646\\u0627\\u062f)',score:elScore,tip:elTip});\nconst htmlKb=htmlSize/1024;let spScore=20,spTip='\\u062d\\u062c\\u0645 \\u0628\\u0627\\u0644\\u0627.';\nif(htmlKb<100){spScore=100;spTip='';}else if(htmlKb<200){spScore=80;spTip='';}else if(htmlKb<500){spScore=50;spTip='HTML \\u0633\\u0646\\u06af\\u06cc\\u0646.';}\nfactors.push({name:'page_speed',label:'\\u0633\\u0631\\u0639\\u062a \\u0635\\u0641\\u062d\\u0647 (\\u062d\\u062c\\u0645 HTML)',score:spScore,tip:spTip});\nconst hasViewport=/<meta[^>]+name\\s*=\\s*[\"']viewport[\"']/i.test(html);\nfactors.push({name:'mobile_friendly',label:'\\u0633\\u0627\\u0632\\u06af\\u0627\\u0631\\u06cc \\u0645\\u0648\\u0628\\u0627\\u06cc\\u0644 (viewport)',score:hasViewport?100:0,tip:hasViewport?'':'\\u062a\\u06af viewport \\u0646\\u062f\\u0627\\u0631\\u062f!'});\nconst schemaCount=(html.match(/\"@type\"/gi)||[]).length;\nlet scScore=0,scTip='';if(schemaCount>=2)scScore=100;else if(schemaCount===1)scScore=70;else{scTip='Schema \\u0646\\u062f\\u0627\\u0631\\u062f.';}\nfactors.push({name:'schema_markup',label:'\\u062f\\u0627\\u062f\\u0647 \\u0633\\u0627\\u062e\\u062a\\u0627\\u0631\\u06cc\\u0627\\u0641\\u062a\\u0647 (Schema)',score:scScore,tip:scTip});\nconst ogCount=(html.match(/<meta[^>]+property\\s*=\\s*[\"']og:/gi)||[]).length;\nlet ogScore=0,ogTip='';if(ogCount>=4)ogScore=100;else if(ogCount>=2)ogScore=70;else if(ogCount>=1){ogScore=40;ogTip='OG \\u0646\\u0627\\u0642\\u0635.';}else{ogTip='Open Graph \\u0646\\u062f\\u0627\\u0631\\u062f.';}\nfactors.push({name:'open_graph',label:'Open Graph',score:ogScore,tip:ogTip});\nconst hasCan=/<link[^>]+rel\\s*=\\s*[\"']canonical[\"']/i.test(html);\nfactors.push({name:'canonical_tag',label:'\\u062a\\u06af Canonical',score:hasCan?100:0,tip:hasCan?'':'Canonical \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nlet rScore=100,rTip='';if(robots.includes('noindex')){rScore=0;rTip='noindex \\u062f\\u0627\\u0631\\u062f!';}else if(robots.includes('nofollow')){rScore=50;rTip='nofollow \\u062f\\u0627\\u0631\\u062f.';}\nfactors.push({name:'robots_directive',label:'\\u062f\\u0633\\u062a\\u0648\\u0631 Robots',score:rScore,tip:rTip});\nconst hasLang=/<html[^>]+lang\\s*=/i.test(html);\nfactors.push({name:'language_declaration',label:'\\u0627\\u0639\\u0644\\u0627\\u0645 \\u0632\\u0628\\u0627\\u0646 (lang)',score:hasLang?100:0,tip:hasLang?'':'\\u0627\\u0639\\u0644\\u0627\\u0645 \\u0632\\u0628\\u0627\\u0646 \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nconst hasDate=/\\b(202[3-6])\\b/.test(html)||/\\u06f1\\u06f4\\u06f0[2-5]/.test(html)||/\"dateModified\"|\"datePublished\"/i.test(html);\nfactors.push({name:'content_freshness',label:'\\u062a\\u0627\\u0632\\u06af\\u06cc \\u0645\\u062d\\u062a\\u0648\\u0627 (\\u062a\\u0627\\u0631\\u06cc\\u062e)',score:hasDate?100:30,tip:hasDate?'':'\\u0646\\u0634\\u0627\\u0646\\u0647 \\u062a\\u0627\\u0631\\u06cc\\u062e \\u06cc\\u0627\\u0641\\u062a \\u0646\\u0634\\u062f.'});\nfactors.push({name:'faq_section',label:'\\u0628\\u062e\\u0634 FAQ',score:hasFaq?100:0,tip:hasFaq?'':'FAQ \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nfactors.push({name:'table_of_contents',label:'\\u0641\\u0647\\u0631\\u0633\\u062a \\u0645\\u0637\\u0627\\u0644\\u0628 (TOC)',score:hasToc?100:0,tip:hasToc?'':'\\u0641\\u0647\\u0631\\u0633\\u062a \\u0645\\u0637\\u0627\\u0644\\u0628 \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nfactors.push({name:'breadcrumb',label:'\\u0645\\u0633\\u06cc\\u0631\\u0646\\u0645\\u0627 (Breadcrumb)',score:hasBreadcrumb?100:0,tip:hasBreadcrumb?'':'\\u0645\\u0633\\u06cc\\u0631\\u0646\\u0645\\u0627 \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nfactors.push({name:'video_multimedia',label:'\\u0648\\u06cc\\u062f\\u06cc\\u0648/\\u0645\\u0648\\u0644\\u062a\\u06cc\\u200c\\u0645\\u062f\\u06cc\\u0627',score:videos>=1?100:0,tip:videos>=1?'':'\\u0648\\u06cc\\u062f\\u06cc\\u0648 \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nconst sentences2=Math.max(1,(text.match(/[.!?\\u061F\\u06D4]/g)||[]).length);const avgSent=Math.round(wordCount/sentences2);\nlet rdScore=70,rdTip='';if(avgSent>=10&&avgSent<=25)rdScore=100;else if(avgSent>25&&avgSent<=35){rdScore=60;rdTip='\\u062c\\u0645\\u0644\\u0627\\u062a \\u0628\\u0644\\u0646\\u062f.';}else if(avgSent>35){rdScore=30;rdTip='\\u062c\\u0645\\u0644\\u0627\\u062a \\u0628\\u0633\\u06cc\\u0627\\u0631 \\u0628\\u0644\\u0646\\u062f.';}\nfactors.push({name:'readability',label:'\\u062e\\u0648\\u0627\\u0646\\u0627\\u06cc\\u06cc \\u0645\\u062d\\u062a\\u0648\\u0627',score:rdScore,tip:rdTip});\nlet hhScore=100,hhTip='';if(h1s.length===0){hhScore-=40;hhTip='H1 \\u0646\\u062f\\u0627\\u0631\\u062f.';}if(h2s.length===0){hhScore-=30;hhTip+=' H2 \\u0646\\u062f\\u0627\\u0631\\u062f.';}if(h3s.length>0&&h2s.length===0){hhScore-=20;hhTip+=' H3 \\u0628\\u062f\\u0648\\u0646 H2.';}\nfactors.push({name:'heading_hierarchy',label:'\\u0633\\u0644\\u0633\\u0644\\u0647\\u200c\\u0645\\u0631\\u0627\\u062a\\u0628 \\u0647\\u062f\\u06cc\\u0646\\u06af',score:Math.max(0,hhScore),tip:hhTip.trim()});\nlet psScore=0,psTip='';if(paragraphs>=5)psScore=100;else if(paragraphs>=3)psScore=70;else if(paragraphs>=1){psScore=40;psTip='\\u067e\\u0627\\u0631\\u0627\\u06af\\u0631\\u0627\\u0641 \\u06a9\\u0645.';}else{psTip='\\u0633\\u0627\\u062e\\u062a\\u0627\\u0631 \\u067e\\u0627\\u0631\\u0627\\u06af\\u0631\\u0627\\u0641\\u06cc \\u0646\\u062f\\u0627\\u0631\\u062f.';}\nfactors.push({name:'paragraph_structure',label:'\\u0633\\u0627\\u062e\\u062a\\u0627\\u0631 \\u067e\\u0627\\u0631\\u0627\\u06af\\u0631\\u0627\\u0641',score:psScore,tip:psTip});\nconst listCount=(html.match(/<(ul|ol)\\b/gi)||[]).length;\nfactors.push({name:'list_usage',label:'\\u0627\\u0633\\u062a\\u0641\\u0627\\u062f\\u0647 \\u0627\\u0632 \\u0644\\u06cc\\u0633\\u062a (ul/ol)',score:listCount>=2?100:(listCount===1?60:0),tip:listCount<1?'\\u0644\\u06cc\\u0633\\u062a \\u0646\\u062f\\u0627\\u0631\\u062f.':''});\nconst boldCount=(html.match(/<(strong|b)\\b/gi)||[]).length;\nfactors.push({name:'bold_emphasis',label:'\\u0628\\u0631\\u062c\\u0633\\u062a\\u0647\\u200c\\u0633\\u0627\\u0632\\u06cc (Bold/Strong)',score:boldCount>=3?100:(boldCount>=1?60:0),tip:boldCount<1?'\\u0627\\u0632 bold \\u0627\\u0633\\u062a\\u0641\\u0627\\u062f\\u0647 \\u0646\\u0634\\u062f\\u0647.':''});\nlet navSize=0;(html.match(/<(nav|footer|sidebar|header)[^>]*>[\\s\\S]*?<\\/\\1>/gi)||[]).forEach(b=>navSize+=b.length);\nconst bpRatio=htmlSize>0?Math.round((navSize/htmlSize)*100):0;\nconst uniqScore=bpRatio<30?100:(bpRatio<50?60:20);\nfactors.push({name:'content_uniqueness',label:'\\u06cc\\u06a9\\u062a\\u0627\\u06cc\\u06cc \\u0645\\u062d\\u062a\\u0648\\u0627',score:uniqScore,tip:uniqScore<60?'\\u0646\\u0633\\u0628\\u062a boilerplate \\u0628\\u0627\\u0644\\u0627.':''});\nconst hasSocial=/share|social|telegram|whatsapp|twitter|facebook/i.test(html);\nfactors.push({name:'social_sharing',label:'\\u062f\\u06a9\\u0645\\u0647\\u200c\\u0647\\u0627\\u06cc \\u0627\\u0634\\u062a\\u0631\\u0627\\u06a9\\u200c\\u06af\\u0630\\u0627\\u0631\\u06cc',score:hasSocial?100:0,tip:hasSocial?'':'\\u062f\\u06a9\\u0645\\u0647 \\u0627\\u0634\\u062a\\u0631\\u0627\\u06a9 \\u0646\\u062f\\u0627\\u0631\\u062f.'});\nlet lsiScore=50,lsiTip='';\nif(keyword&&wordCount>100){const uniqueW=new Set(wL).size;const ratio=uniqueW/Math.max(1,wordCount);if(ratio>=0.4)lsiScore=100;else if(ratio>=0.25)lsiScore=70;else{lsiScore=30;lsiTip='\\u062a\\u0646\\u0648\\u0639 \\u0648\\u0627\\u0698\\u06af\\u0627\\u0646\\u06cc \\u06a9\\u0645.';}}\nfactors.push({name:'lsi_keywords',label:'\\u062a\\u0646\\u0648\\u0639 \\u0645\\u0639\\u0646\\u0627\\u06cc\\u06cc (LSI)',score:lsiScore,tip:lsiTip});\nconst overallScore=Math.round(factors.reduce((s,f)=>s+f.score,0)/factors.length);\nconst seoFactors={factors,overall_score:overallScore};\n\n// === STRENGTHS/WEAKNESSES ===\nconst str=[];const wk=[];\nif(wordCount>=1500)str.push('\\u0645\\u062d\\u062a\\u0648\\u0627\\u06cc \\u062c\\u0627\\u0645\\u0639 ('+wordCount+' \\u06a9\\u0644\\u0645\\u0647)');else if(wordCount<300)wk.push('\\u0645\\u062d\\u062a\\u0648\\u0627 \\u06a9\\u0648\\u062a\\u0627\\u0647 ('+wordCount+')');\nif(h2s.length>=3)str.push('\\u0633\\u0627\\u062e\\u062a\\u0627\\u0631 \\u0647\\u062f\\u06cc\\u0646\\u06af \\u062e\\u0648\\u0628');else if(h2s.length<2)wk.push('\\u0647\\u062f\\u06cc\\u0646\\u06af H2 \\u06a9\\u0645');\nif(imgs.length>=3)str.push('\\u062a\\u0635\\u0627\\u0648\\u06cc\\u0631 \\u0645\\u0646\\u0627\\u0633\\u0628');else if(imgs.length<2)wk.push('\\u062a\\u0635\\u0627\\u0648\\u06cc\\u0631 \\u06a9\\u0645');\nif(noAlt>0)wk.push(noAlt+' \\u062a\\u0635\\u0648\\u06cc\\u0631 \\u0628\\u062f\\u0648\\u0646 alt');\nif(tables>0)str.push('\\u062c\\u062f\\u0648\\u0644 \\u062f\\u0627\\u0631\\u062f');else wk.push('\\u062c\\u062f\\u0648\\u0644 \\u0646\\u062f\\u0627\\u0631\\u062f');\nif(hasFaq)str.push('FAQ \\u062f\\u0627\\u0631\\u062f');else wk.push('FAQ \\u0646\\u062f\\u0627\\u0631\\u062f');\nif(videos>0)str.push('\\u0648\\u06cc\\u062f\\u06cc\\u0648 \\u062f\\u0627\\u0631\\u062f');\nif(schemaTypes.length>0)str.push('Schema: '+schemaTypes.join(', '));else wk.push('Schema \\u0646\\u062f\\u0627\\u0631\\u062f');\nif(intL>=5)str.push('\\u0644\\u06cc\\u0646\\u06a9 \\u062f\\u0627\\u062e\\u0644\\u06cc \\u0642\\u0648\\u06cc ('+intL+')');else if(intL<3)wk.push('\\u0644\\u06cc\\u0646\\u06a9 \\u062f\\u0627\\u062e\\u0644\\u06cc \\u06a9\\u0645');\nif(keyword){if(kwA.in_title)str.push('\\u06a9\\u0644\\u0645\\u0647 \\u062f\\u0631 \\u0639\\u0646\\u0648\\u0627\\u0646 \\u2713');else wk.push('\\u06a9\\u0644\\u0645\\u0647 \\u062f\\u0631 \\u0639\\u0646\\u0648\\u0627\\u0646 \\u0646\\u06cc\\u0633\\u062a');if(kwDensity>=0.5&&kwDensity<=2.5)str.push('\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u0645\\u0646\\u0627\\u0633\\u0628');else if(kwDensity<0.5)wk.push('\\u062a\\u0631\\u0627\\u06a9\\u0645 \\u06a9\\u0645');}\n\nlet score=Math.min(100,Math.round(wordCount/50)+h2s.length*3+imgs.length*2+(h1s.length>=1?10:0)+(tables>0?5:0)+(hasFaq?10:0)+(schemaTypes.length>0?8:0));\n\nreturn[{json:{url,word_count:wordCount,h1:h1s.length,h2:h2s.length,h3:h3s.length,h1_texts:h1s.slice(0,3),h2_texts:h2s.slice(0,15),h3_texts:h3s.slice(0,5),images:imgs.length,images_no_alt:noAlt,internal_links:intL,external_links:extL,title,meta_desc:metaDesc,og_title:ogTitle,og_description:ogDesc,canonical_url:canonical,robots_meta:robots,schema:schemaTypes,paragraphs,tables,videos,has_faq:hasFaq?1:0,has_video:videos>0?1:0,has_table:tables>0?1:0,has_toc:hasToc?1:0,has_breadcrumb:hasBreadcrumb?1:0,content_type:wordCount>300?'article':'-',reading_level:0,keyword_density:kwDensity,top_keywords:topKw,word_count_score:score,keyword_analysis:kwA,response_time:0,strengths:str,weaknesses:wk,section_words:[],ngrams,paragraph_keywords:paraKeywords,content_density:contentDensity,seo_factors:seoFactors,note:wordCount<50&&html.length>10000?'\\u0635\\u0641\\u062d\\u0647 JS-rendered \\u2014 Browserless \\u062a\\u0648\\u0635\\u06cc\\u0647 \\u0645\\u06cc\\u0634\\u0648\\u062f.':''}}];\n"}, "name": "Full SEO Audit", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}"}, "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1300, 300]}], "connections": {"Webhook": {"main": [[{"node": "Prepare", "type": "main", "index": 0}]]}, "Prepare": {"main": [[{"node": "Has Browserless?", "type": "main", "index": 0}]]}, "Has Browserless?": {"main": [[{"node": "Browserless Fetch", "type": "main", "index": 0}], [{"node": "HTTP Fetch", "type": "main", "index": 0}]]}, "Browserless Fetch": {"main": [[{"node": "Full SEO Audit", "type": "main", "index": 0}]]}, "HTTP Fetch": {"main": [[{"node": "Full SEO Audit", "type": "main", "index": 0}]]}, "Full SEO Audit": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}}