viraseo/n8n-workflows/03-page-inspector.json
{
  "name": "ViraSEO — Advanced Page Inspector (Headless Chrome + Full SEO Audit)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "viraseo-page-inspect", "responseMode": "responseNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// === STEP 1: Decide fetch method (Browserless headless Chrome OR simple HTTP) ===\n// If BROWSERLESS_TOKEN is set in n8n env or passed in body, use headless Chrome.\n// Otherwise fall back to HTTP Request.\n\nconst url = $input.first().json.body.url;\nconst keyword = ($input.first().json.body.keyword || '').trim();\nconst browserlessToken = $input.first().json.body.browserless_token || process.env.BROWSERLESS_TOKEN || '';\n\nreturn [{ json: { url, keyword, browserlessToken, useBrowserless: browserlessToken.length > 0 } }];"
      },
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{$json.useBrowserless}}", "value2": true}]}
      },
      "name": "Has Browserless?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [670, 300]
    },
    {
      "parameters": {
        "url": "=https://chrome.browserless.io/content?token={{$json.browserlessToken}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {"parameters": []},
        "jsonBody": "={\"url\":\"{{$json.url}}\",\"waitFor\":3000,\"gotoOptions\":{\"waitUntil\":\"networkidle2\",\"timeout\":25000},\"rejectResourceTypes\":[\"image\",\"font\",\"media\"]}",
        "options": {"timeout": 35000, "fullResponse": true}
      },
      "name": "Browserless Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "timeout": 25000,
          "response": {"response": {"fullResponse": true}},
          "redirect": {"redirect": {"followRedirects": true, "maxRedirects": 5}},
          "allowUnauthorizedCerts": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"},
            {"name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"},
            {"name": "Accept-Language", "value": "fa,en;q=0.8"},
            {"name": "Accept-Encoding", "value": "gzip, deflate"}
          ]
        }
      },
      "name": "HTTP Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 420]
    },
    {
      "parameters": {"mode": "combine", "mergeByPosition": true},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// === ViraSEO ADVANCED PAGE INSPECTOR — Full SEO Espionage ===\n// Works with both Browserless (rendered HTML) and simple HTTP (raw HTML).\n// Extracts 25+ SEO signals + strengths/weaknesses + keyword prominence.\n\nconst input = $input.first().json;\nconst html = typeof input === 'string' ? input : (input.body || input.data || '');\nconst url = $('Prepare').first().json.url;\nconst keyword = ($('Prepare').first().json.keyword || '').toLowerCase().trim();\n\nfunction strip(s) { return (s||'').replace(/<[^>]+>/g, ' ').replace(/&[a-z]+;/g, ' ').replace(/\\s+/g, ' ').trim(); }\n\n// === METADATA (always in <head>, even for JS pages) ===\nlet title = ''; const tm = html.match(/<title[^>]*>(.*?)<\\/title>/si); if (tm) title = strip(tm[1]);\nlet metaDesc = ''; let md = html.match(/<meta[^>]+name\\s*=\\s*[\"']description[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i); if (md) metaDesc = md[1]; if (!metaDesc) { md = html.match(/<meta[^>]+content\\s*=\\s*[\"']([^\"']*)[\"'][^>]*name\\s*=\\s*[\"']description[\"']/i); if (md) metaDesc = md[1]; }\nlet ogTitle = ''; md = html.match(/<meta[^>]+property\\s*=\\s*[\"']og:title[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i); if (md) ogTitle = md[1];\nlet ogDesc = ''; md = html.match(/<meta[^>]+property\\s*=\\s*[\"']og:description[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i); if (md) ogDesc = md[1];\nlet ogImage = ''; md = html.match(/<meta[^>]+property\\s*=\\s*[\"']og:image[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i); if (md) ogImage = md[1];\nlet canonical = ''; md = html.match(/<link[^>]+rel\\s*=\\s*[\"']canonical[\"'][^>]*href\\s*=\\s*[\"']([^\"']+)[\"']/i); if (md) canonical = md[1];\nlet robots = 'index, follow'; md = html.match(/<meta[^>]+name\\s*=\\s*[\"']robots[\"'][^>]*content\\s*=\\s*[\"']([^\"']*)[\"']/i); if (md) robots = md[1];\nlet lang = ''; md = html.match(/<html[^>]+lang\\s*=\\s*[\"']([^\"']+)[\"']/i); if (md) lang = md[1];\n\n// === SCHEMA ===\nconst schemaTypes = [...new Set((html.match(/\"@type\"\\s*:\\s*\"([^\"]+)\"/gi)||[]).map(s => { const m2 = s.match(/\"([^\"]+)\"$/); return m2?m2[1]:''; }).filter(Boolean))];\n\n// === CONTENT EXTRACTION ===\nlet content = html.replace(/<(script|style|svg|template|iframe|noscript)[^>]*>[\\s\\S]*?<\\/\\1>/gi, ' ');\nlet body = content; const bm = content.match(/<body[^>]*>([\\s\\S]*)<\\/body>/i); if (bm) body = bm[1];\nbody = body.replace(/<(nav|footer|header|aside|form|sidebar)[^>]*>[\\s\\S]*?<\\/\\1>/gi, ' ');\n\nlet mainContent = '';\nconst selectors = [/<main[^>]*>([\\s\\S]*?)<\\/main>/i, /<article[^>]*>([\\s\\S]*?)<\\/article>/i, /<div[^>]*class\\s*=\\s*[\"'][^\"']*entry-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i, /<div[^>]*class\\s*=\\s*[\"'][^\"']*post-content[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i, /<div[^>]*class\\s*=\\s*[\"'][^\"']*product-description[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/i, /<div[^>]*id\\s*=\\s*[\"']content[\"'][^>]*>([\\s\\S]*?)<\\/div>/i];\nfor (const sel of selectors) { const sm = body.match(sel); if (sm && strip(sm[1]).split(/\\s+/).length >= 30) { mainContent = sm[1]; break; } }\nif (!mainContent) { const hm = body.match(/<h[12]\\b[^>]*>([\\s\\S]*)/i); if (hm) mainContent = hm[1]; }\nif (!mainContent) mainContent = body;\n\nconst text = strip(mainContent);\nconst words = text.split(/\\s+/).filter(w => w.length > 0);\nconst wordCount = words.length;\n\n// === HEADINGS ===\nconst h1s = (html.match(/<h1[^>]*>(.*?)<\\/h1>/gi)||[]).map(h => strip(h)).filter(Boolean);\nconst h2s = (html.match(/<h2[^>]*>(.*?)<\\/h2>/gi)||[]).map(h => strip(h)).filter(Boolean);\nconst h3s = (html.match(/<h3[^>]*>(.*?)<\\/h3>/gi)||[]).map(h => strip(h)).filter(Boolean);\n\n// === IMAGES ===\nconst imgs = html.match(/<img\\b[^>]*>/gi)||[]; const imagesCount = imgs.length;\nlet noAlt = 0; imgs.forEach(t => { if (!/\\balt\\s*=\\s*[\"'][^\"']+[\"']/i.test(t)) noAlt++; });\n\n// === LINKS ===\nconst host = (() => { try { return new URL(url).hostname; } catch(e) { return ''; } })();\nconst anchors = html.match(/<a\\s[^>]*href\\s*=\\s*[\"']([^\"'#]+)[\"'][^>]*>/gi)||[];\nlet intLinks = 0, extLinks = 0;\nanchors.forEach(a => { const hm = a.match(/href\\s*=\\s*[\"']([^\"'#]+)[\"']/i); if (!hm) return; const h = hm[1]; if (h.startsWith('/')||h.includes(host)) intLinks++; else if (h.startsWith('http')) extLinks++; });\n\n// === MISC METRICS ===\nconst paragraphs = (html.match(/<p\\b[^>]*>/gi)||[]).length;\nconst tables = (html.match(/<table\\b/gi)||[]).length;\nconst videos = (html.match(/<(video|iframe)[^>]*(youtube|vimeo|aparat|mp4|embed)/gi)||[]).length;\nconst hasFaq = /سوالات متداول|پرسش.*متداول|FAQ|faq-section|schema.*FAQPage|itemtype.*FAQPage/i.test(html);\nconst hasToc = /table.of.content|فهرست مطالب|جدول محتوا|lwptoc|ez-toc|toc-/i.test(html);\nconst hasForm = /<form\\b/i.test(html);\nconst hasBreadcrumb = /breadcrumb|BreadcrumbList/i.test(html);\n\n// === TOP KEYWORDS ===\nconst stops = ['و','در','به','از','که','این','را','با','است','برای','آن','یک','تا','هم','ها','یا','شده','می','بر','اما','هر','نیز','the','is','a','of','to','in','for','on','with'];\nconst wList = text.toLowerCase().split(/[\\s\\u200C\\u200B,.;:!?()\\[\\]\\/\\\\\"']+/).filter(w => w.length > 2 && !stops.includes(w) && !/^\\d+$/.test(w));\nconst freq = {}; wList.forEach(w => freq[w]=(freq[w]||0)+1);\nconst topKw = Object.entries(freq).sort((a,b)=>b[1]-a[1]).slice(0,12).map(([word,count])=>({word,count}));\n// Bigrams\nconst bigrams = {}; for (let i=0;i<wList.length-1;i++) { const bg=wList[i]+' '+wList[i+1]; bigrams[bg]=(bigrams[bg]||0)+1; }\nconst topBigrams = Object.entries(bigrams).sort((a,b)=>b[1]-a[1]).slice(0,5).filter(([_,c])=>c>=2).map(([word,count])=>({word,count}));\nconst allTopKw = [...topKw, ...topBigrams].sort((a,b)=>b.count-a.count).slice(0,12);\n\n// === KEYWORD ANALYSIS ===\nlet kwAnalysis = {};\nif (keyword) {\n  const kl = keyword; const tl = title.toLowerCase(); const ml = metaDesc.toLowerCase(); const ul = url.toLowerCase();\n  const inTitle = tl.includes(kl)?1:0; const inH1 = h1s.some(h=>h.toLowerCase().includes(kl))?1:0;\n  const inH2 = h2s.some(h=>h.toLowerCase().includes(kl))?1:0; const inMeta = ml.includes(kl)?1:0; const inUrl = ul.includes(kl)?1:0;\n  const kwCount = (text.toLowerCase().split(kl).length-1); const density = wordCount>0?Math.round((kwCount/wordCount)*10000)/100:0;\n  const prominence = Math.min(100, (inTitle?25:0)+(inH1?20:0)+(inH2?10:0)+(inMeta?15:0)+(inUrl?15:0)+Math.min(15,Math.round(density*5)));\n  // First occurrence position (earlier = better)\n  const firstPos = text.toLowerCase().indexOf(kl);\n  const firstPosPercent = firstPos >= 0 && text.length > 0 ? Math.round((firstPos / text.length) * 100) : -1;\n  kwAnalysis = { in_title:inTitle, in_h1:inH1, in_h2:inH2, in_meta:inMeta, in_url:inUrl, density, prominence, count:kwCount, first_position_percent: firstPosPercent };\n}\n\n// === READING LEVEL ===\nconst sents = text.split(/[.!?؟]+/).filter(s=>s.trim().length>10);\nconst avgSent = sents.length>0?Math.round(words.length/sents.length):0;\n\n// === CONTENT TYPE ===\nlet contentType = '-';\nif (/product|shop|store|cart|woocommerce/i.test(url)||/\"@type\"\\s*:\\s*\"Product\"/i.test(html)) contentType='product';\nelse if (/blog|article|mag|news|post|wiki/i.test(url)||/\"@type\"\\s*:\\s*\"(Article|BlogPosting)\"/i.test(html)) contentType='article';\nelse if (/service|khadamat/i.test(url)) contentType='service';\nelse if (wordCount>300) contentType='article';\n\n// === SECTION BREAKDOWN ===\nconst sectionWords = [];\nconst parts = mainContent.split(/<h2\\b[^>]*>/i);\nfor (let i=1; i<parts.length && i<=10; i++) {\n  const hm2 = parts[i].match(/^(.*?)<\\/h2>/si);\n  const heading = hm2 ? strip(hm2[1]) : 'بخش '+i;\n  const rest = hm2 ? parts[i].slice(hm2[0].length) : parts[i];\n  const cleaned = rest.replace(/<h[1-6]\\b.*$/si,'');\n  const wds = strip(cleaned).split(/\\s+/).filter(Boolean).length;\n  sectionWords.push({heading, words: wds});\n}\n\n// === STRENGTHS & WEAKNESSES ===\nconst strengths = []; const weaknesses = [];\nif (wordCount>=1500) strengths.push('محتوای جامع و طولانی ('+wordCount+' کلمه)');\nelse if (wordCount>=800) strengths.push('طول محتوا مناسب ('+wordCount+' کلمه)');\nelse weaknesses.push('محتوا کوتاه ('+wordCount+' کلمه). رقبای قوی ۱۵۰۰+ دارند.');\nif (h2s.length>=4) strengths.push('ساختار هدینگ عالی ('+h2s.length+' H2)'); else if (h2s.length<2) weaknesses.push('هدینگ H2 خیلی کم ('+h2s.length+'). ساختار ضعیف.');\nif (imagesCount>=4) strengths.push('تصاویر متنوع ('+imagesCount+')'); else if (imagesCount<2) weaknesses.push('تصاویر خیلی کم ('+imagesCount+').');\nif (noAlt>0) weaknesses.push(noAlt+' تصویر بدون alt.');\nif (tables>0) strengths.push('جدول دارد ('+tables+'). محتوای ساختاریافته.'); else weaknesses.push('جدول ندارد.');\nif (hasFaq) strengths.push('بخش FAQ (فرصت Featured Snippet).'); else weaknesses.push('FAQ ندارد.');\nif (videos>0) strengths.push('ویدیو ('+videos+' عدد).');\nif (hasToc) strengths.push('فهرست مطالب (Table of Contents) دارد.');\nif (hasBreadcrumb) strengths.push('Breadcrumb (مسیر ناوبری) دارد.');\nif (intLinks>=5) strengths.push('لینک داخلی قوی ('+intLinks+')'); else if (intLinks<3) weaknesses.push('لینک داخلی کم ('+intLinks+').');\nif (extLinks>=1&&extLinks<=5) strengths.push('استناد خارجی ('+extLinks+')'); else if (extLinks===0) weaknesses.push('هیچ استنادی ندارد.');\nelse if (extLinks>10) weaknesses.push('لینک خارجی زیاد ('+extLinks+'). نشت لینک.');\nif (schemaTypes.length>0) strengths.push('Schema: '+schemaTypes.join(', ')); else weaknesses.push('Schema ندارد. Rich Snippet از دست رفته.');\nif (metaDesc&&metaDesc.length>=120&&metaDesc.length<=160) strengths.push('متا بهینه ('+metaDesc.length+' کاراکتر).');\nelse if (!metaDesc) weaknesses.push('متا ندارد!'); else if (metaDesc.length<100) weaknesses.push('متا کوتاه ('+metaDesc.length+').');\nif (title.length>=30&&title.length<=65) strengths.push('عنوان بهینه.'); else if (title.length>65) weaknesses.push('عنوان بلند ('+title.length+'). کوتاه می‌شود.');\nif (keyword) {\n  if (kwAnalysis.in_title) strengths.push('کلمه در عنوان ✓'); else weaknesses.push('کلمه در عنوان نیست!');\n  if (kwAnalysis.in_h1) strengths.push('کلمه در H1 ✓'); else weaknesses.push('کلمه در H1 نیست.');\n  if (kwAnalysis.density>=0.5&&kwAnalysis.density<=2.5) strengths.push('تراکم مناسب ('+kwAnalysis.density+'%)'); \n  else if (kwAnalysis.density<0.5) weaknesses.push('تراکم خیلی کم ('+kwAnalysis.density+'%).');\n  else weaknesses.push('تراکم زیاد ('+kwAnalysis.density+'%). خطر اسپم!');\n  if (kwAnalysis.first_position_percent>=0&&kwAnalysis.first_position_percent<=15) strengths.push('کلمه در ۱۵٪ ابتدای محتوا (عالی).');\n  else if (kwAnalysis.first_position_percent>30) weaknesses.push('اولین ظهور کلمه دیر است ('+kwAnalysis.first_position_percent+'٪ محتوا).');\n}\n\n// === SCORE ===\nlet score = 0;\nscore += Math.min(30, Math.round(wordCount/50));\nscore += Math.min(15, h2s.length*3);\nscore += Math.min(10, imagesCount*2);\nscore += (h1s.length>=1)?8:0;\nscore += (tables>0)?5:0;\nscore += (hasFaq)?10:0;\nscore += (schemaTypes.length>0)?8:0;\nscore += (extLinks>=1)?4:0;\nscore += (metaDesc.length>=100)?5:0;\nscore += (hasToc)?3:0;\nscore += (hasBreadcrumb)?2:0;\nscore = Math.min(100, score);\n\nreturn [{ json: {\n  url, word_count: wordCount, word_count_fa: wordCount.toLocaleString('fa-IR'),\n  h1: h1s.length, h2: h2s.length, h3: h3s.length,\n  h1_texts: h1s.slice(0,3), h2_texts: h2s.slice(0,15), h3_texts: h3s.slice(0,8),\n  images: imagesCount, images_no_alt: noAlt,\n  internal_links: intLinks, external_links: extLinks,\n  title, meta_desc: metaDesc, og_title: ogTitle, og_description: ogDesc, og_image: ogImage,\n  canonical_url: canonical, robots_meta: robots, language: lang,\n  schema: schemaTypes, paragraphs, tables, videos,\n  has_faq: hasFaq?1:0, has_video: videos>0?1:0, has_table: tables>0?1:0,\n  has_toc: hasToc?1:0, has_breadcrumb: hasBreadcrumb?1:0, has_form: hasForm?1:0,\n  content_type: contentType, reading_level: avgSent,\n  keyword_density: kwAnalysis.density||0,\n  top_keywords: allTopKw, word_count_score: score,\n  keyword_analysis: kwAnalysis,\n  response_time: 0,\n  strengths, weaknesses,\n  section_words: sectionWords,\n  note: wordCount<50&&html.length>10000 ? 'صفحه JS-rendered است. Browserless برای تحلیل دقیق‌تر توصیه می‌شود.' : ''\n}}];"
      },
      "name": "Full SEO Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}"},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Prepare", "type": "main", "index": 0}]]},
    "Prepare": {"main": [[{"node": "Has Browserless?", "type": "main", "index": 0}]]},
    "Has Browserless?": {
      "main": [
        [{"node": "Browserless Fetch", "type": "main", "index": 0}],
        [{"node": "HTTP Fetch", "type": "main", "index": 0}]
      ]
    },
    "Browserless Fetch": {"main": [[{"node": "Full SEO Audit", "type": "main", "index": 0}]]},
    "HTTP Fetch": {"main": [[{"node": "Full SEO Audit", "type": "main", "index": 0}]]},
    "Full SEO Audit": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  }
}
